<!DOCTYPE html>
<html>
  <head>
    <title>PROJECT-ATM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/jpeg_camera/dist/jpeg_camera_with_dependencies.min.js"></script>
    <script type="text/javascript" src="../static/identify.js"></script>
    <link href="../static/identify.css" media="all" rel="stylesheet" type="text/css" /></link>
    <style>
    body{
        background-color: #0099FF;
        }
    #take_snapshots{
      margin-left: 620px;
    }
    #up{
      margin-left: 620px;
    }
    #container {
      background-color: #FFF;
      border-style: dashed;
      margin-left: 50px;
      margin-top: 10px;
      display: inline-block;
      vertical-align: top;
    }
    </style>
  </head>
  <body>
    <p>
    <div>  
      <div id="camera" class="side">
        <div class="placeholder">
          Your browser does not support camera access.<br>
          We recommend
          <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>
          &mdash; modern, secure, fast browser from Google.<br>
          It's free.
        </div>
      </div>
      <div id="container" class="side"></div>
    </div>
    <button id="take_snapshots">Take a picture</button>
    <div id="snapshots"></div>

    <div id="up">
        <button id="upload_snapshot" type="submit">Upload</button><br>
    </div>
  </body>
</html>